# Upstash Redis (obrigatório no Vercel)
# Crie em https://console.upstash.com
UPSTASH_REDIS_REST_URL=https://arriving-midge-68198.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAQpmAAIncDIxOGM0ODFkYjJmNmU0Y2U2YTk0NzcwYTA2ZTZjYmM2ZHAyNjgxOTg

# GitHub OAuth - crie em https://github.com/settings/developers
# Callback URL: https://seu-dominio.vercel.app/api/auth/callback
GITHUB_CLIENT_ID=Ov23liIPKgrR1gELMR0i
GITHUB_CLIENT_SECRET=2b126fe19577ba814484117a508c0bcd107accff
